html{
      display: block;
     max-width: 100%;
} 
.container-fluid{
  margin: 0!important;
  padding: 0!important;
}
header, body, nav, div{
  display: block;
  
}
#index{
  background-image: url("../../images/bgss.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.center{
  text-align: center;
}

body{
  background-color: #1f2739;/* #cfcfcf 5e8c82- this one for grey.*/
  background-repeat: no-repeat;
  -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;

}
.navbar-brand{
  width: auto;
  display: inline;
}
.banner{
  display: inline;
  white-space: nowrap;
  font-size: 1.3em;
  padding-left: em;
}
.baner-tech{
    font-size: 1em;
    height: auto;

}

.navbar-right{
  margin-right: 1em;
  right: 0;
}

.main-content{
  margin:10%;
}
@font-face {
    font-family: 'revalia';
    src: url(../fonts/Revalia-Regular.ttf) format('truetype');
}

.main-container{
  /*background: #23317b;*/
  text-align: center;
  margin: 2%;
  width: auto;
  border-radius: 2em;
  height: auto;
  color: #fff;
}
th,td{
  color: #fff;
  line-height: .8em;
  text-align: center;
  word-spacing: .08em;
  letter-spacing: .04em;

}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 3px solid #1f2739;
    border-radius: 7px;
}
tr:nth-child(even) {
    background-color: #2c3446;
}
tr:nth-child(odd) {
    background-color: #323c50;
}
tr:nth-child(even):hover, tr:nth-child(odd):hover{
    background-color: #000;
}
 
th{
  font-family: tahoma;
}
td{
  font-size: .85em;
}
.table-bordered {
     border: 1px solid #1f2739; 
}
tr th{
  background-color: #1f2533;
  color: pink !important;
}
.navbar-inverse{
  background: rgba(28,38,47,1);
}
.header{
  color: #fff;
  /*background: #23317b;*/
  margin: 1%;
  padding-top: 1%;
  margin: 0;
  border-radius: 2em;
}

.header h1 {
  font-family: revalia;
}


#myBtn {
  border-width: 2px;
}

h1,h2,h3,h4,h5,h6,.btn,input,a, li{
  letter-spacing: .06em;
  line-height: 1em;
  font-family: Georgia, Times, "Times New Roman", serif;

}
ul li{
  text-decoration: none;
  list-style: none;
  padding: 2%;  
}
ul li a{
  text-decoration: none;
  color: gold;
}
a{
  color: gold;
  text-decoration: none;
}
.btn-lg{
  line-height: 1.5em;
  width: auto;
  background: #272d01;
  color: #fff;
  margin:  .8em;
  border-color: #000;
}

.modal-header, .close {
      background-color: #2c3446;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.log-in-btn{
  background-color: #2c3446;
  padding: .7em;
}
.log-in-btn:hover,.log-in-btn:focus,.log-in-btn:active{
  background-color: #1f2533 !important;
}

.modal-footer {
      background-color: #2c3446;
  }
  .image{
    height: 22em!important;
    width: 32em!important;
  }
  .img{
    text-align: center;
  }
  .content{
    margin: 2%;
  }
  .content .form-control{
    margin: 1%;
    padding:1.4%;
    

    
  }
  .form-center{
    text-align: center;
  }
  input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    color: #ddd;
  

}
 input[type="button1"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    width: 100px;
    margin-left: 35%;
    color: #ddd;
    cursor: pointer;
}


input[type="button"]:not(.active) {
    background-color:transparent;
}
input[type="button1"]:not(.active) {
    background-color:transparent;
}

.active {
    background-color: #ff4d4d;
    color :#fff;
}

input[type="button"]:hover:not(.active) {
    background-color: #fff;
    color: #000;
}
input[type="button1"]:hover:not(.active) {
    background-color: #fff;
    color: #000;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.logout-btn{
  margin-right: 5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  background: transparent;
}
.logout-btn:hover, .logout-btn:focus{
  background: rgb(215,215,215);
}
.none{
  display: none;
}
.none:hover,.none:focus{
  background: red;

}
.deactivat-msg{
  background: black;
  padding:.5em;
}
.logout-drp{
  margin-right: 5em;
  opacity: .9
}
.logout-drp:hover{
  opacity: 1;
}
.feedback-container{
}
.feedback-section{
  position: relative;
  background: rgb(215,215,215);
  border-radius: 1em;
  padding: 1%;
  margin: 1.3% 0;
}
.feedback-button{
  border-radius: 50%;
  margin-right: 3%;
}
.feedback-button:focus,.feedback-button:active,.feedback-button:hover{
  border-radius: 50%;
  border:1 px red;
  outline:0;
}
.feedback_div{
  visibility:hidden; 

  }

.superscript{
  display: inline-block;
  margin-left: -2em;
  padding: 0;
  border:.1em solid white;
  border-radius: 50%;
  background: white;
  color: #000;
  min-width: 20px;
  min-height: 20px;
  height: auto;
  width: auto;
  position:absolute;

}
.con{
  
}
.yellow{
  display: inline-block;
  background: yellow;
}
.disable{
  pointer-events: none;
  opacity: .4;
}
.wrong_password{
  color:#fff;
  position:absolute;
  top: 2.5em;
  background: red;
  text-align: center;
  height: 1.2em;
  display: inline;
  width: 100%;
}